<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SPRING_BATH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>/home/sample/batch/sampleBatch/logs/batchLog.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- daily rollover -->
		<fileNamePattern>/home/sample/batch/sampleBatch/logs/batchLog.log.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		<!-- keep 90 days' worth of history -->
		<maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		<charset>UTF-8</charset>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{16}.%M\(%line\) - %msg%n</pattern>
		</layout>
    </encoder>
  </appender>

  <appender name="SPRING_DELETE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>/home/sample/batch/sampleBatch/logs/deletedLog.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- daily rollover -->
		<fileNamePattern>/home/sample/batch/sampleBatch/logs/deletedLog.log.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		<!-- keep 90 days' worth of history -->
		<maxHistory>730</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		<charset>UTF-8</charset>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{16}.%M\(%line\) - %msg%n</pattern>
		</layout>
    </encoder>
  </appender>

  <root>
  	<level value="INFO" />
	<appender-ref ref="STDOUT" />
  </root>

  <logger name="deleteLog" additivity="false">
  	<level value="INFO" />
  	<appender-ref ref="SPRING_DELETE_LOG" />
  </logger>

</configuration>